<head prefix="og: http://ogp.me/ns#">

	<!-- meta http-equiv="refresh" content="10" -->

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Base URL to use for all relative URLs contained within the document -->
	<base href="{{ site.baseurl | prepend: site.url }}">
	<meta name="url" content="{{ site.baseurl | prepend: site.url }}">

	<!-- Place this data between the <head> tags of your website -->
	<title>
	    {% if page.layout == 'home' %}
	    	{{ site.title }}
	    {% elsif page.layout == 'four-oh-four' %}
	    	404 &middot; Page not found &middot; {{ site.title }}
	    {% else %}
	    	{{ page.title }} &middot; {{ site.title }}
	    {% endif %}
	</title>

	<meta name="application-name" content="{% if page.layout != 'home' %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="description" content="{{ site.summary | strip_html }}" />

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="{% if page.layout != 'home' %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }}{% endif %}">
	<meta itemprop="description" content="{{ site.summary | strip_html }}">
	<meta itemprop="image" content="{{ site.social-media-image | prepend: site.image-path | site.asset-path | prepend: site.baseurl | prepend: site.url }}">

	<!-- Twitter Card data -->
	<meta name="twitter:card" 			content="summary_large_image">
	<meta name="twitter:site" 			content="@{{ site.twitter-username }}">
	<meta name="twitter:creator" 		content="@{{ site.twitter-username }}">
	<meta name="twitter:title" 			content="{% if page.layout != 'home' %}{{ page.title }} • {% endif %}{{ site.title }}">
	<meta name="twitter:description" 	content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.summary | strip_html }}{% endif %}">
	<meta name="twitter:image" 			content="{% if page.image %}{{ page.image | prepend: site.post-images-path | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.social-media-image | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}{% endif %}">
	<meta name="twitter:image:alt" 		content="{% if page.image-description %}{{ page.image-description | strip_html }}{% endif %}">

	<!-- Open Graph data -->
	<meta property="og:url" 			content="{{ page.url | prepend: site.baseurl | prepend: site.url }}"  />
	<meta property="og:type" 			content="{% if page.layout == 'post' %}article{% else %}website{% endif %}" />
	<meta property="og:rich_attachment" content="true" />
	<meta property="og:title" 			content="{% if page.layout != 'home' %}{{ page.title }} • {% endif %}{{ site.title }}" />
	<meta property="og:description" 	content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.summary | strip_html }}{% endif %}" />
	<meta property="og:image" 			content="{% if page.image %}{{ page.image | prepend: site.post-images-path | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.social-media-image | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
	<meta property="og:site_name" content="{{ site.title }}" />

	<!-- Touch Icons -->
	<link rel="icon" href="{{ site.touch | prepend: site.baseurl | prepend: site.url }}">
	<link rel="apple-touch-icon" href="{{ site.touch | prepend: site.baseurl | prepend: site.url }}">

	<!-- Pinned Site -->
	<link rel="mask-icon" href="{{ site.pinned | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" color="{{ site.pinned-colour }}">
	<meta name="theme-color" content="{{ site.pinned-colour }}">

	<!-- Google site verification -->
	<meta name="google-site-verification" content="{{ site.google-site-verification }}">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ '/styles.css' | prepend: site.css-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}">

	<!-- URLs and feeds -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

</head>