<header id="site-title">

	{% if page.layout == "home" %}
	
	<div class="site-header--logo">
		
		<img class="header--site-logo" src="{{ site.url | append: site.baseurl | append: '/assets/images/site/header-logo.svg'}}">
		
		<h1 class="header--site-title">Department<br>of Bad Ideas</h1>
		
	</div>
	
	<img class="header--down-arrow" src="{{ site.url | append: site.baseurl | append: '/assets/images/site/header-down-arrow.svg'}}">
	
	{% elsif page.layout == "four-oh-four" %}
	
	<div class="site-header--logo">
		
		<img class="header--site-logo" src="{{ site.url | append: site.baseurl | append: '/assets/images/site/header-logo.svg'}}">
		
		<h1 class="header--site-title"><strong>404 error:</strong> Page not found</h1>
					
		<p class="header--site-subtitle--link"><a href="{{ site.url | append: site.baseurl }}" title="Go to the home page">Try the home page?</a></p>
	
	</div>

	{% else %}
	
		<div class="site-header--logo">
		
			<img class="header--site-logo" src="{{ site.url | append: site.baseurl | append: '/assets/images/site/header-logo.svg'}}">
			
			<h1 class="header--site-title"><a href="{{ site.url | append: site.baseurl }}" title="Go to the home page">Department<br>of Bad Ideas</a></h1>
						
			<p class="header--site-subtitle">{{ page.title }}</p>
	
		</div>
		
	{% endif %}
	
</header>