<div class="home--podcast-info">
	
	<p><strong>The Department of Bad Ideas</strong> is a podcast about policy, disconnected from reality.</p>
			
	<p>In each episode, two guests engage in a battle of policy wits  them to solve real problems in the most unsaleable, impractical and impossible ways.</p>

	<a href="{{ site.apple-podcasts-url }}" title="Listen on Apple Podcasts (open Apple Podcasts store)"><img src="{{ '/assets/images/podcast/apple-podcasts.svg' | prepend: site.baseurl }}" alt="Apple Podcasts logo"></a>

</div>