<!-- JQuery code -->
<script src="{{ '/jquery.min.js' | prepend: site.js-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>

<!-- Custom code -->
{% if page.layout == "episode" %}
<script src="{{ '/app.js' | prepend: site.js-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>
{% endif %}

<!-- Cloudflare Analytics -->
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9adc608aa8014dc193d6218fb77b53f1"}'></script><!-- End Cloudflare Web Analytics -->