@at-root {
	@-ms-viewport { 
		width: device-width;
	} // stylelint-disable-line at-rule-no-vendor-prefix
}

*,
*::before,
*::after {
	box-sizing: border-box;
	
	-webkit-font-smoothing: antialiased;
	letter-spacing: normal;
  
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

html {
  -ms-overflow-style: scrollbar;
	background: 		$black;
}

html,
body {
	color:				$black;
	
	font-family: 		$font-family-base;
	
	padding: 0;
	margin: 0;
}

body {

	@supports(padding: max(0px)) {
		// iOS 11.0 - 11.1
		padding-top: unquote('max(0px, constant(safe-area-inset-top))');
		padding-bottom: unquote('max(0px, constant(safe-area-inset-bottom))');
		padding-left: unquote('max(0px, constant(safe-area-inset-left))');
		padding-right: unquote('max(0px, constant(safe-area-inset-right))');
		// iOS 11.2
		padding-top: unquote('max(0px, env(safe-area-inset-top))');
		padding-bottom: unquote('max(0px, env(safe-area-inset-bottom))');
		padding-left: unquote('max(0px, env(safe-area-inset-left))');
		padding-right: unquote('max(0px, env(safe-area-inset-right))');
	}

}

header {
	
}

main {
	background:			$white;
}

footer {
	
}