header#site-title {
	
	position: 		relative;
	display: 		block;
	
	@include tablet-up {
		@include supports-sticky;
	}
	
	min-height: 	100px;
	width: 			100%;
	
	background:		$yellow;
	
	div.container {
		@include 	clearfix;		
	}
	
	div#header--site-logo {
		
		position: 	relative;		
		display: 	inline-block;

		@include mobile {
			margin-bottom: 	20px;
		}

		@include tablet-up {			
			float:		left;
		}

		@include 	clearfix;		
		
		img.header--site-logo--logo {
			
			position: 		relative;
			display: 		inline-block;
			
			@include tablet-down {
				max-height: 	60px;
				margin-right: 	20px;
			}
			
			@include desktop {
				max-height: 	100px;
				margin-right: 	30px;
			}
			
			float:			left;
		}
		
		h1.header--site-logo--title {

			position: 		relative;
			display: 		inline-block;
			
			padding: 		0;
			
			@include tablet-down {
				margin: 		-10px 0 0 0;
			
				font-size: 		30px;
				line-height: 	40px;	
			}
			
			@include desktop {
				margin: 		-13px 0 0 0;
			
				font-size: 		55px;
				line-height: 	60px;	
			}
			
			float:			left;

			span.header--site-title--newline {
				display: block;
			}

		}
		
	}
	
	div#header--site-navigation {
		
		position: 		relative;
		
		@include tablet-up {
			display: 		inline-block;
			float:			right;
		}
		
		@include 	clearfix;		
		
		ul.header--site-navigation--menu {

			position: 		relative;
			
			padding: 		0;
			margin: 		0;
			
			li.header--site-navigation--menu-item {

				display: 		inline;

				padding: 		0;
				
				@include mobile {
				}

				@include tablet-down {

					font-size: 		20px;
				
				}
				
				@include tablet {
					margin: 		0 0 0 10px;
				}
				
				@include desktop {
					
					font-size: 		25px;
				
					margin: 		0 0 0 20px;
					
				}
				
				a.active {
					
					text-decoration: 	underline;
					
				}
							
			}
			
		}
		
	}
	
	
	
}