section#home--jumbotron {
	
	background: 		$black;
	color: 				$white;
	
	div.container {
		@include tablet-up {
			padding-top:		7rem;
			padding-bottom:		7rem;
		}
	}
	
	h1.home--jumbotron--title {
		
		max-width: 			900px;
		
		padding: 			0;
		margin: 			0 0 2rem 0;
		
		color:				$white;
		font-weight: 		400;
		
		line-height: 		1.3;
		font-size: 		$heading1-font-size-base;
		@include tablet-up {
			font-size: 		$heading1-font-size-base * 1.5 !important;
		}
		
		strong {
			color: 			$yellow;
		}
		
	}
	
	p.home--jumbotron--lead {
		
		max-width: 			650px;

		font-size: 		$font-size-base * 1.5;
		@include tablet-up {
			font-size: 		$font-size-base * 1.8 !important;
		}
			
	}
	
}

section#home--subscribe {
	
	background: 		$yellow;
	color:				$black;
	
	div.container {
		@include clearfix;
	}
	
	div#home--subscribe--left-column {
		
		display: 		block;
		position: 		relative;
		
		float: 			left;
				
		@include mobile {
			width: 		100%;
		}
		
		@include tablet {
			width: 		100%;
		}
		
		@include tablet-landscape {
			width: 		40%;
		}
		
		@include desktop {
			width: 		30%;
		}
		
		a {
			text-decoration: underline;	
			
			&:hover,
			&:focus {
				background: 		$black;
				color: 				$yellow;
				
				text-decoration: 	none;
				outline: 			2px solid $black;
			}
		}
		
	}
	
	div#home--subscribe--right-column {
		
		display: 		block;
		position: 		relative;
		
		float: left;
		
		@include mobile {
			width: 		100%;
		}
		
		@include tablet {
			width: 		100%;
		}
		
		@include tablet-landscape {
			width: 				60%;
			padding-left:		4rem;
		}
		
		@include desktop {
			width: 				70%;
			padding-left: 		4rem;
		}
		
		ul {
			list-style: none;
			padding: 			0;
			
			li.loop--item {
				
				@include clearfix;
				
				padding: 		0;
				margin: 		0;
				
				border-bottom: 	1px solid $black;
				
				&:last-of-type {
					border-bottom: 	none;
				}
				
				div.loop--item--content {
					
					display: 		inline-block;
					position: 		relative;
					
					float:			left;
					
					h3.item--content--title {
						@extend p;
						padding: 		5px 0;
						
						@include mobile {
							margin: 	0;
						}
						
						a {
							text-decoration:	underline;
							
							&:hover,
							&:focus {
								background: 		$black;
								color: 				$yellow;
								
								text-decoration: 	none;
								outline: 			3px solid $black;
							}
						}
						
					}
				}
				
				div.loop--item--links {
					
					display: 		inline-block;
					position: 		relative;
					
					float:			right;
					
					padding-top: 	1rem;
					
					text-align: right;
					
					a {
						@include mobile {
							display: 		inline-block;
							
							font-size: $font-size-base;
							
							&:first-of-type {
								margin-bottom:	5px;
							}
						}
						
						padding: 		5px 10px;
						
						border:			1px solid $black;
						
						text-decoration: 	none;
						
						&:hover,
						&:focus {
							background: 		$black;
							color: 				$yellow;
							
							text-decoration: 	none;
						}
						
					}
				}
			}
		}
		
	}
	
}

section#home--about {

	h2 {
		
		display: inline-block;
		
		padding: 		5px 10px 10px 10px !important;
		
		margin: 		2rem 0 1rem 0;
		
		background:		$black !important;
		color:			$yellow !important;
		
	}
	
	p.home--about--final-para {
		
		display: 		inline-block;
		
		margin: 		3rem 0 0 0;
		padding:		10px 20px;
		
		background:		$yellow;
		
		font-size: 		$font-size-base * 1.5;
		@include tablet-up {
			font-size: 		$font-size-base * 2 !important;
		}
		
	}
	
}