section#page--content {
	
	@include clearfix;
	
	h1#page--content--title {
		
		max-width: 			900px;
		
		padding: 			0;
		
		font-weight: 		600;
		
		line-height: 		1.3;
		font-size: 			$heading1-font-size-base;
		
		@include tablet-up {
			font-size: 		$heading1-font-size-base * 1.5 !important;
		}
		
		strong {
			color: 			$yellow;
		}
		
	}
	
	div#page--content--left-column {
		
		display: 		block;
		position: 		relative;
		
		float: left;
		
		@include mobile {
			width: 		100%;
		}
		
		@include tablet {
			width: 		100%;
		}
		
		@include tablet-landscape {
			width: 				60%;
			
			padding-right: 		4rem;
		}
		
		@include desktop {
			width: 				70%;
			
			padding-right: 		6rem;
		}
		
		ul {
			list-style: none;
			padding: 			0;
			
			li.loop--item {
				
				@include clearfix;
				
				padding: 		0;
				margin: 		0;
				
				border-bottom: 	1px solid $black;
				
				&:last-of-type {
					border-bottom: 	none;
				}
				
				div.loop--item--content {
					
					display: 		inline-block;
					position: 		relative;
					
					float:			left;
					
					h3.item--content--title {
						padding: 		5px 0 0 0;
						
						@include mobile {
							margin: 	0;
						}
						
						a {
							text-decoration:	underline;
							
							&:hover,
							&:focus {
								background: 		$black;
								color: 				$yellow;
								
								text-decoration: 	none;
								outline: 			3px solid $black;
							}
						}
						
					}
					
					p.item--content--metadata {

						margin:  0.5rem 0;

						strong {
							margin-right: 15px;
						}
					}
					
					span.item--content--excerpt p {
						margin-top: 0.75rem;
						margin-bottom: 2rem !important;
					}
				}
				
			}
		}
		
	}

	div#page--content--right-column {
		
		display: 		block;
		position: 		relative;
		
		float: right;
		
		@include mobile {
			width: 		100%;
		}
		
		@include tablet {
			width: 		100%;
		}
		
		@include tablet-landscape {
			width: 				40%;
		}
		
		@include desktop {
			width: 				30%;
		}
		
		aside {
			
			display: block;
			
			margin-top:			20px;
			
			h3 {
				display: inline-block;
				
				margin-top: 50px;
				
				&:first-of-type {
					margin-top: 20px;
				}
				
				padding: 		5px 10px 10px 10px !important;
				
				background:		$yellow !important;
				color:			$black !important;
			}
			
		}
				
	}
	
}
