body#post {
	main .container {		
		display: 				grid;
		
		grid-template-rows: 		auto auto;
		grid-template-columns: 		auto;
		grid-row-gap: 				30px;
		grid-template-areas: 		"desc"
									"content";
		
		@include tablet {
			grid-template-rows: 		auto;
			grid-template-columns: 		30% auto;
			grid-column-gap: 			50px;
			grid-template-areas: 		"desc content";
		}
		
		@include desktop {
			grid-template-rows: 		auto;
			grid-template-columns: 		35% auto;
			grid-column-gap: 			50px;
			grid-template-areas: 		"desc content";
		}
		
				
		.page--desc {
			grid-area: 				desc;
			
			div.page--podcast-info {
				@include tablet-up {
					display: inline-block;
					width: 100%;
													
					position:				-webkit-sticky;
					position: 				sticky;
		
					top: 					0;
					bottom: auto;
				}
				
				a {
					&.page--item-title--link {
						color: 		$blue !important;
					}
					
					&.page--item-link {
						
						display: block;
						
						@include tablet-up {
							display: inline-block;
						}
						
						line-height: 1.5;
						vertical-align: middle;
						
						@include tablet-up {
							line-height: 1;
						}
						
						margin: 	1rem 0 0 0;
						padding: 	0.5rem 0.7rem;
						
						border:				2px solid $blue;
						
						background: 		$white;
						color:				$blue;
						text-decoration: 	none;
						
						text-align: 		center;
						font-weight: 		600;
						
						&:hover,
						&:focus {
							background: 		$blue;
							color:				$white;
							text-decoration: 	none;
						}
					}
				}
				
				h2.page--item-title {
					
					margin: 		0;
					padding:	 	0 0 0.5rem 0;
				}
				
				p {
					&.page--item-metadata {
						> strong {
							display: inline-block;
							min-width: 25%;
						}
					}
					&.page--item-text {
						margin: 		1rem 0 0 0;
					}
					&.page--item-links {
						display: inline-block;
						
						width: 100%;
						
						margin: 0 0 0;
					}
				}

			}
		}
		.page--post-content {
			grid-area: 				content;
			
			h2.page--post-content--title {
				
			}
		}
		
	}
}