// Typography

a {
	
	display: 				inline;
	
	color: 					$link-color;
	text-decoration: 		$link-text-decoration;
	text-decoration-skip: 	ink;
	text-decoration-skip-ink: auto;
	
	outline: 				$link-outline;
	font-weight: 			inherit;
	
	&:hover,
	&:focus {
		color: 					$link-hover-color;
		text-decoration: 		$link-text-decoration-hover;
		text-decoration-skip: 	ink;
		text-decoration-skip-ink: auto;
	}
	
}

h1, h2, h3, h4, h5, h6 {
	
	color: black;

}

h1 {
	
	margin-top:		40px;
	margin-bottom: 	10px;
	
	line-height: 	$font-line-height;
	font-weight: 	900;
	font-size: 		$heading1-font-size-base;
	@include tablet-up {
		font-size: 		$heading1-font-size-base * 1.3;
	}
	
}

h2 {
	
	margin-top: 	40px;
	margin-bottom: 	10px;
	
	line-height: 	$font-line-height;
	font-weight: 	900;
	font-size: 		$heading2-font-size-base;
	@include tablet-up {
		font-size: 		$heading2-font-size-base * 1.3;
	}
	
}

h3 {
	
	margin-top: 	20px;
	margin-bottom: 	10px;
	
	line-height: 	$font-line-height;
	font-weight: 	600;
	font-size: 		$heading3-font-size-base;
	@include tablet-up {
		font-size: 		$heading3-font-size-base * 1.3;
	}
	
}

h4 {
	
	margin-top: 	10px;
	margin-bottom: 	10px;
	
	line-height: 	$font-line-height;
	font-weight: 	600;
	font-size: 		$heading4-font-size-base;
	@include tablet-up {
		font-size: 		$heading4-font-size-base / 1.3;
	}
	
}

h5 {
	
	margin-top: 	10px;
	margin-bottom: 	10px;
	
	line-height: 	1.20;
	font-weight: 	400;
	font-size: 		$heading5-font-size-base;
	@include tablet-up {
		font-size: 		$heading5-font-size-base / 1.3;
	}
	
}

h6 {
	
	margin-top: 	10px;
	margin-bottom: 	10px;
	
	line-height: 	$font-line-height;
	font-weight: 	400;
	font-size: 		$heading6-font-size-base;
	@include tablet-up {
		font-size: 		$heading6-font-size-base / 1.3;
	}
	
}

p, li {
	font-size: 		$font-size-base * 1.4;
	@include tablet-up {
		font-size: 		$font-size-base * 1.4;
	}
	
	line-height: 	$font-line-height;
	
	margin-top: 	$font-size-base * 1.25;
	margin-bottom: 	$font-size-base * 1.25;
	
	font-weight: 	400;
}

sup {
	font-size: $font-size-base / 1.5;
    vertical-align: super;
    text-decoration: none;
    
    a {
	    text-decoration: none;
    }
}
	
strong, b {
	font-weight: 	600;
}

em, i {
	font-style: 	italic;
}

u {
	text-decoration: underline;
}

center {
	text-align: center;
}

li {
	padding-left: 10px;
	margin: 0;
}

ul {
	padding-top: $font-size-base / 2;
	padding-bottom: $font-size-base / 2;
	padding-left: 40px;
	
	list-style: disc;
}

ol {
	@extend ul;
	list-style: decimal;
}

code, kbd {
	font-family: 	$font-family-monospace;
	font-weight: 	normal;
	font-size: 		inherit;
	color: 			$code-color;
}

blockquote {
	
	display: inline-block;
	width: 100%;
		
	background: 	$gray-200;
	
	padding: 		10px;
	margin-top: 	$font-size-base/1.5;
	margin-bottom: 	$font-size-base/1.5;		
	
	p:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
	
	code, kbd {
		color: $black;
	}
}

table {
	width: 100%;
	
	font-size: 		$font-size-base;
	line-height: 	$font-line-height;
	
    border-collapse: collapse;

    margin-bottom: 20px;
     	
	thead {
		@extend strong;
		text-align: left;
		border-bottom: 1px solid $black;
	}
	tfoot {
		@extend strong;
		text-align: left;
		border-top: 1px solid $black;
	}
	
	th, td {
    	padding: 5px;
		vertical-align: middle;
	}
}