---
layout: default
---

{% include header.html %}

<main id="main-content">
	
	<div class="container">
		
		<div class="page--desc">

			<div class="page--podcast-info">
				<h2 class="page--post-content--title">About</h2>
				<p class="page--item-metadata"><strong>Duration</strong> {{ page.duration | replace: ':', ' mins, ' | append: ' secs' }}</p>
				<p class="page--item-metadata"><strong>Released</strong> {{ page.date | date: "%d %B %Y" }} </p>
				<p class="page--item-metadata"><strong>File size</strong> {{ page.length | divided_by: 1048576 | append: ' MB' }}</p>
				<p class="page--item-links"><a href="{{ page.file }}" class="page--item-link">Download</a></p>
			</div>
		
		</div>
		
		<div class="page--post-content">
			<h2 class="page--post-content--title">{{ page.title }}</h2>
			{{ content }}
		</div>
	
	</div>
	
</main>

{% include footer.html %}

{% include podcast-player.html %}
