---
layout: default
---

{% include header.html %}


<main id="main-content">
	
	<div class="home--intro">
	
		<div class="container">
			
			<article>
			
			<p class="first"><strong>The Department of Bad Ideas</strong> is a podcast about policy, disconnected from reality.</p>
			
			<p>In each episode, two guests engage in a head-to-head battle of unconventional policy wits. We ask them to solve real problems in the most unsaleable, impractical and impossible ways.</p>
			
			<p>There are 3 rounds:</p>
			
			<ol>
				
				<li>
					<p><strong>Unsaleable Policy Division</strong></p>
					<p>Our guests are given a real policy problem, and they're asked to come up with a working policy solution. But there's a catch: it has to be completely unsellable. It has to be so good that any minister would recoil in horror at the very idea of fixing that problem with that particular solution.</p>
					<p>Points are awarded for <strong>presentation</strong>, <strong>practicality</strong> and <strong>unsaleability</strong>.</p>
				</li>
				
				<li>
					<p><strong>Impossible Implementation Unit</strong></p>
					<p>Next, our guests are given another, real issue to solve; but this time things are different: the solution has to be electoral gold, but entirely impossible to implement.</p>
					<p>Points are awarded for <strong>presentation</strong>, <strong>practicality</strong> and <strong>saleability</strong>.</p>
				</li>
				
				<li>
					<p><strong>In The Thick Of It</strong></p>
					<p>The final round is a quick fire round, inspired by the hit radio show, <em>Just a Minute</em>. We'll give our guests a policy problem, and they have to describe a solution to it, on the fly, for a minute without repetition, hesitation or deviation. If they falter, their opponent takes over and the clock keeps ticking.</p>
					<p>Points are awarded to who ever is still talking at the end of the minute.</p>
				</li>
				
			</ol>
			
			<p><strong>Who will win?</strong> Tune in and find out.</p>
			
			</article>
			
		</div>
	
	</div>

	<div class="container home--loop">

		<div class="home--desc">
	
			{% include podcast-info.html %}
	
		</div>
	
		<div class="home--feed">
			
			{% include loop.html %}
	
		</div>
	
	</div>
	
</main>

{% include footer.html %}