---
layout: default
---

{% include header.html %}


<main id="main-content">
	
	<div class="home--intro">
	
		<div class="container">
			
			<article>
			
			<p class="first"><strong>The Department of Bad Ideas</strong> is a podcast about policy, disconnected from reality.</p>
			
			<p>In each episode, two guests engage in a battle of policy wits  them to solve real problems in the most original, unsaleable, impractical and impossible ways.</p>
			
			<p>There are 3 rounds:</p>
			
			<ol>
				
				<li>
					<p><strong>Unsaleable Policy Division</strong></p>
					<p>In round 1 our contestants are given a real policy problem, and they're asked to come up with a working policy solution in 5 minutes. But there's a catch: it has to be completely unsellable. It has to be so good that any politician or potential voter would recoil in horror at the very idea of fixing that problem with that particular solution.</p>
					<p>Points are awarded for <strong>presentation</strong>, <strong>practicality</strong> and <strong>unsaleability</strong>.</p>
				</li>
				
				<li>
					<p><strong>Impossible Implementation Unit</strong></p>
					<p>Round 2 sees our contestants given another, real policy issue to solve; but this things are different. This time, the solution has to be electoral gold, but entirely impossible to implement</p>
					<p>Points are awarded for <strong>presentation</strong>, <strong>practicality</strong> and <strong>saleability</strong>.</p>
				</li>
				
				<li>
					<p><strong>In The Thick Of It</strong></p>
					<p>The final round is a quick fire round. We'll keep hurling policy problems at our contestants, and they have to come up with as the best solution. One final twist: the idea has to be a tweet sized sound bites.</p>
					<p>Points are awarded for <strong>originality</strong> and <strong>concision</strong>.</p>
				</li>
				
			</ol>
			
			<p><strong>Who will win?</strong> Tune in and find out.</p>
			
			</article>
			
		</div>
	
	</div>

	<div class="container home--loop">

		<div class="home--desc">
	
			{% include podcast-info.html %}
	
		</div>
	
		<div class="home--feed">
			
			<h1 class="home--feed-title">Episodes</h1>
	
			{% include loop.html %}
	
		</div>
	
	</div>

</main>

{% include footer.html %}