---
layout: default
---

{% include header.html %}

<main id="main-content">
	
	<article>
		
	<section id="home--jumbotron">
		
		<div class="container">
			
			<h1 class="home--jumbotron--title">The <strong>Department of Bad Ideas</strong> is a podcast about policy, disconnected from reality.</h1>
			
			<p class="home--jumbotron--lead">In each episode, our guests tell us how they'd fix public policy problems in the most impractical, unpalatable and impossible ways.</p>

			
		</div>
		
	</section>
	
	<section id="home--subscribe">
		
		<div class="container">
			
			<div id="home--subscribe--left-column">
				
				<h2>Listen now</h2>
				
				<p>You can listen to the <strong>Department of Bad Ideas</strong> <a href="{{ site.url | append: site.baseurl | append: '/episodes' }}" alt="Go to the episodes page">on our website</a>, or you can find us on <a href="{{ site.apple-podcasts-feed }}" title="Listen on Apple Podcasts (open Apple Podcasts store)">Apple Podcasts</a> or Spotify. You can also <a href="{{ site.podcast-feed }}" title="Add the RSS feed (open the podcast RSS feed)">subscribe via RSS</a> using your favourite podcast app.						

			</div>
			
			<div id="home--subscribe--right-column">
				
				<h2>Recent episodes</h2>
				
				<ul>
				{% assign episodes = site.episodes | sort_by: date | reverse %}
				{% for episode in episodes limit: 5 %}
					<li class="loop--item">
						<div class="loop--item--content">
							<h3 class="item--content--title"><a href="{{ episode.url | prepend: site.baseurl | prepend: site.url }}" class="loop--item-title--link">{{ episode.title }}</a></h3>
						</div>
						<!-- 
						<div class="loop--item--links">							
							<a href="{{ episode.url | prepend: site.baseurl | prepend: site.url }}" class="loop--item-link">Listen</a>
							<a href="{{ episode.file }}" class="loop--item-link">Download</a>
						</div> -->
					</li>					
				{% endfor %}
				</ul>
				
				<h2>Recent blog posts</h2>
				
				<ul>
				{% for post in site.posts limit: 5 %}
					<li class="loop--item">
						<div class="loop--item--content">
							<h3 class="item--content--title"><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="loop--item-title--link">{{ post.title }}</a></h3>
						</div>
					</li>					
				{% endfor %}
				</ul>

			</div>
				
		</div>
		
	</section>
	
	<section id="home--about">
	
		<div class="container">
			
			<article>
			
				<p class="home--about--start-para"><strong>How does it work?</strong></p>
				
				<p>Each episode of the <strong>Department of Bad Ideas</strong> consists of four rounds.</p>
				
				<h2>Impossible Implementation Unit</h2>
				
				<p>In the first round, our guests have 5 minutes to pitch the solution to a policy problem they're given ahead of time. The problem could be anything from the ridiculous to the real: like preparing for an alien invasion, or solving a shortage of teachers in schools. Their solution has to be entirely impossible to implement, but so attractive that everyone would want to do it that way.</p>
						
				<p>Points are awarded for <strong>originality</strong>, <strong>presentation</strong>, <strong>practicality</strong> and <strong>political attractiveness</strong>.</p>

				<h2>Unsaleable Policy Division</h2>
						
				<p>In the second round, our guests are given another policy problem ahead of time, and they'll have another 5 minutes each to pitch their solution. This time the idea has to be brilliantly practical, but political kryptonite. It has to be so unpalatable that any senior official or minister would recoil in horror at the very idea of fixing that problem with that particular solution.</p>
				
				<p>Points are awarded for <strong>originality</strong>, <strong>presentation</strong>, <strong>practicality</strong> and <strong>political attractiveness</strong>.</p>
									
				<h2>The Big Idea</h2>

				<p>In the third round, our guests get 5 minutes to pitch a totally original idea to solve any problem they like. It doesn't matter how ridiculous the problem is; they just have to pitch the biggest, boldest, best solution they have to fix it.</p>
				
				<p>Points are awarded for <strong>originality</strong>, <strong>presentation</strong>, <strong>practicality</strong> and <strong>political attractiveness</strong>.</p>
									
				<h2>In the Thick of It</h2>
				
				<p>The final round is different. Instead of prepreared pitches to known problems, our guests will take part in an unscripted quick fire round. We’ll give our guests a series of policy problems, and they have to describe a solution to it on the fly for a minute, without repetition or hesitation.</p>
				
				<p>Points are still awarded for <strong>originality</strong>, <strong>practicality</strong> and <strong>political attractiveness</strong>, but they get an extra point for every second they speak without repetition or hesitation.</p>
				
				<p class="home--about--final-para"><strong>Who will win?</strong> Tune in and find out.</p>
			
			</article>
			
		</div>
	
	</section>
	
	<section id="home--contact">
		
		<div class="container">
			
			<div id="home--contact--left-column">
				
				<h2>Contact the Department</h2>
				
				<p>You can find the <strong>Department of Bad Ideas</strong> on Twitter, <a href="https://www.twitter.com/PodOfBadIdeas" alt="Find the Department on Twitter">@PodOfBadIdeas</a>, or you can email us at <a href="mailto:podcast&#64;johnpe.art" title="Send the Department an email">podcast&#64;johnpe.art</a>.						

			</div>
			
			<div id="home--contact--right-column">
				
				<h2>Be our guest</h2>
				
				<p>If you'd like to be a guest on the <strong>Department for Bad Ideas</strong> podcast, then get in touch.</p>
				
				<p>Everything you need to know is in this <a href="/2019/01/30/be-our-guest/" title="Find out more about being a guest">blog post</a>.</p>
				
			</div>
				
		</div>
		
	</section>
		
</main>

{% include footer.html %}