---
layout: default
---

{% include header.html %}

<main id="main-content">
	
	<div class="container">
				
		<section id="page--content">
			<h1 id="page--content--title">{{ page.title }}</h1>
			
			<div id="page--content--left-column">
				
				{% if page.title == "Episodes" %}
				<ul>
				{% for post in site.episodes limit: 5 %}
					<li class="loop--item">
						<div class="loop--item--content">
							<h3 class="item--content--title"><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="loop--item-title--link">{{ post.title }}</a></h3>
							<p class="item--content--excerpt">{{ post.excerpt }}</p>
						</div>
					</li>			
				{% endfor %}
				{% elsif page.title =="Blog" %}
				<ul>
				{% for post in site.posts limit: 5 %}
					<li class="loop--item">
						<div class="loop--item--content">
							<h3 class="item--content--title"><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="loop--item-title--link">{{ post.title }}</a></h3>
							<p class="item--content--excerpt">{{ post.excerpt }}</p>
						</div>
					</li>			
				{% endfor %}
				</ul>
				{% endif %}
				</ul>
				
			</div>
			
		</div>
	
	</div>
	
</main>

{% include footer.html %}