---
layout: default
---

<section class="loop--loop-content">

	<div class="container">

		<h1 id="page--content--title">{{ page.title }}</h1>

		{% if page.title == "All episodes" %}
		<ul>
		{% for post in site.episodes %}
			<li class="loop--item">
				<div class="loop--item--content">
					<h2 class="item--content--title"><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="loop--item-title--link">{{ post.title }}</a></h2>
					<p class="item--content--metadata"><strong>Published</strong> {{ post.date | date: "%d %B %Y" }}</p>
					<p class="item--content--excerpt">{{ post.excerpt }}</p>
				</div>
			</li>			
		{% endfor %}
		</ul>
		{% elsif page.title =="All blog posts" %}
		<ul>
		{% for post in site.posts %}
			<li class="loop--item">
				<div class="loop--item--content">
					<h2 class="item--content--title"><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="loop--item-title--link">{{ post.title }}</a></h2>
					<p class="item--content--metadata"><strong>Published</strong> {{ post.date | date: "%d %B %Y" }}</p>
					<p class="item--content--excerpt">{{ post.excerpt }}</p>
				</div>
			</li>			
		{% endfor %}
		</ul>
		{% elsif page.title =="Guest guides" %}
		<ul>
		{% for post in site.guest-guides %}
			<li class="loop--item">
				<div class="loop--item--content">
					<h2 class="item--content--title"><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="loop--item-title--link">{{ post.title }}</a></h2>
					<p class="item--content--excerpt">{{ post.excerpt }}</p>
				</div>
			</li>			
		{% endfor %}
		</ul>
		{% endif %}

	</div>

</section>
		
<aside>

	<div class="container">
	
	<h2><strong>Get in touch</strong></h3>

	<p>You can find the <strong>Department of Bad Ideas</strong> on Twitter, <a href="https://www.twitter.com/PodOfBadIdeas" alt="Find the Department on Twitter">@PodOfBadIdeas</a>, or you can email us at <a href="mailto:podcast&#64;johnpe.art" title="Send the Department an email">podcast&#64;johnpe.art</a>.	
	
	<h2><strong>Be our guest</strong></h3>

	<p>If you'd like to be a guest on the <strong>Department for Bad Ideas</strong> podcast, then get in touch.</p>

	<p>Everything you need to know is in this <a href="/2019/01/30/be-our-guest/" title="Find out more about being a guest">blog post</a>.</p>
					
	</div>

</aside>

