---
layout: default
---

<article id="post--content">
		
	<div class="container">

		<h1 id="page--content--title"><strong>{{ page.title }}</strong></h1>

		{{ content }}

		<aside id="post--metadata">
			<p class="page--item-metadata"><strong class="page--item-metadata--type">Published</strong> <span class="page--item-metadata--content">{{ page.date | date: "%d %b %Y" }} </p>
			<p class="page--item-metadata"><strong class="page--item-metadata--type">Written by</strong> 
			<span class="page--item-metadata--content">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</span></p>
		</aside>

	</div>

</article>