---
layout: default
---
<aside id="breadcrumbs" role="navigation">
	<div class="container">
		<p>
			<span><a href="{{ site.url }}" title="Go to the home page">Home</a></span>
			<span>❯</span>
	{% if page.collection == 'posts' %}
			<span><a href="{{ site.url | append: '/posts/' }}" title="Go to all blog posts">All blog posts</a></span>
	{% elsif page.collection == 'episodes' %}
			<span><a href="{{ site.url | append: '/episodes/' }}" title="Go to all episodes">All episodes</a></span>
	{% elsif page.collection == 'guest-guides' %}
			<span><a href="{{ site.url | append: '/guest-guides/' }}" title="Go to all guest-guides">All guest guides</a></span>
	{% endif %}
		</p>
	</div>
</aside>

<article id="post--content">
		
	<div class="container">

		<h1 id="page--content--title"><strong>{{ page.title }}</strong></h1>

		{{ content }}

		{% if page.next or page.previous %}
		<aside id="post--next-prev" role="navigation">
			{% if page.previous %}
			<p class="page--next-prev--prev">
				<span class="page--next-prev--arrow">←</span>
				<span class="page--next-prev--label">Previous</span>
				<a href="{{ page.previous.url }}" title="Go to previous post">{{ page.previous.title }}</a>
			</p>
			{% else %}
			<p class="page--next-prev--prev-blank">
				
			</p>
			{% endif %}
			{% if page.next %}
			<p class="page--next-prev--next">
				<span class="page--next-prev--arrow">→</span>
				<span class="page--next-prev--label">Next</span>
				<a href="{{ page.next.url }}" title="Go to next post">{{ page.next.title }}</a>
			</p>
			{% endif %}
		</aside>
		{% endif %}

		<aside id="post--metadata">
			<p class="page--item-metadata"><strong class="page--item-metadata--type">Published</strong> <span class="page--item-metadata--content">{{ page.date | date: "%d %b %Y" }} </p>
			<p class="page--item-metadata"><strong class="page--item-metadata--type">Written by</strong> 
			<span class="page--item-metadata--content">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</span></p>
		</aside>

	</div>

</article>